<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Head todo la info que es para el navegador y no se ve, salvo el titulo. -->
	<meta charset="UTF-8">
	<title>Siniestro</title>
	<!-- Estilos de Bootstrap que es codigo responsive y visual ya escrito por otro. -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<!-- codigo de colores y estilos escrito por nosotros -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Tipografia openSans -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<!-- esto es para que el navegador se de cuenta cuando estamos en un celuar o tableta-->
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

	</head>
<!-- <body> Todo lo que se ve en la pantalla del usuario -->
<body>
<header>
	<div class="container">
				<ul class='botonera'>
					<li><a href="#informacion" data-ancla="informacion">Informacion</a></li>
					<li><a href="#contacto" data-ancla="contacto">Contacto</a></li>

				</ul>

			</div>
		</div>
	</div>
</header>

<div class="principal vertical-centered-text" id="home">
	<div class="col-md-8 cta"><h1>Formulario Siniestro</h1> 


		</div>
</div>





</body>
</html>